@font-face
{
	font-family: "Raleway"; 
	src: url("Raleway.ttf");
	src: url("Raleway.ttf") format("ttf")
	url("Raleway.eot") format("eot"),
	url("Raleway.woff") format("woff"),
	url("Raleway.otf") format("otf"),
	url("Raleway.svg") format("svg");
}


p 
{
	
	font-size: small;


}


#tout

 {
 	font-family: "Raleway", serif, sans-serif;
 	
}

header 
 {
 	margin: 50px;
 	display: flex;
 	align-items: space-between;
 	justify-contnt: flex-start;
 	flex-direction: row;
 	
}
 
 li  
 {
 	 	display: inline-flex;
 	 justify-content: space-between;
 	 justify-content: flex-end;
 	list-style-type: none;
 	margin: 10px;
 	padding: 10px;

}
 .nav-link1
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 280px;
 	top: 60px;
 	text-decoration: none;
 }

 .nav-link2
 {
 	color: gray;
 	justify-content: flex-end;
 	position: absolute;
 	right: 180px;
 	top: 60px;
 	text-decoration: none;
 }

 .nav-link3
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 80px;
 	top: 60px;
 	text-decoration: none;
 }

 form 
 {
 	display: flex;
 	border: solid;
 	border-color: #f2f2f2;
 	height: 30px;
 	width: 300px;
 	border-radius: 15px;
 	padding: 5px;

 }
 
 label
 {
 	background-color:  #0065FC;
 	color: white;
 	text-align: justify;
 	font-size: larger;

 }




h2 h3 h4 h5
{
	font-weight: bold;
}



 



 body
 {
 	background-image: url(Resevia.svg);
 	background-attachment: scroll;
 	background-repeat: no-repeat;
 	background-position: top left;
 	margin-left:40px ;
 }
 
 

 
/*barre de navigation */

.filtres
{
	margin: 7px;
	display: inline-flex;
	font-weight: bold  ;
	

}

div .filtre1
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;

}
div .filtre2
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;

}
div .filtre3
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;

}
div .filtre4
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;


}


.hebetpop
{
	display: flex;

}




.info
{
	margin: 40px;
}



.container /*hebergement*/
{
	background-color: #f2f2f2;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 5px ;
	margin: 5px;

}
.container1

{   display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}

#hebergement 
{
	align-content: flex-start;
	flex: 800px;
}

.hebergement1
{
	border: 1px solid white;
	padding: 10px;
}

.heb1 
{


}

.hebergement2
{
	border: 1px solid white;
	padding: 10px;
	
}
.heb2
{

}

.hebergement3
{
	border: 1px solid white;
	padding: 10px;
	

}
.heb3 
{

}
.hebergement4
{ 
	border: 1px solid white;
	padding: 10px;
	
 }
.heb4
{

}
.hebergement5
{
	border: 1px solid white;
	padding: 10px;
	

}
.heb5 
{

}
.hebergement6
{
	border: 1px solid white;
	padding: 10px;
	

}
.heb6 
{

}

.plus /*aficher plus */
{

	align-self: flex-end;
	
}


.container2 /*les plus populaires*/

{
	background-color: #f2f2f2;
	float: right;
	border-radius: 15px;
	margin: 5px;
	padding: 30px;
	padding-bottom: 20px;
	order: 2;
	vertical-align: top;
}

.populaire1
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop1
{
	float: right;
}


.populaire2
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop2 
{
	float: right;
}


.populaire3
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop3
{
	float: right;
}


/*activite*/

.container3

{
	font-weight: bold;
	background-color: white;
	border-radius: 15px;
	order: 3;
	display: inline-flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#activités
{
	align-content: center;
	flex: 800px;
}
figcaption .container3 
{


}

.vieuxport
{
	border: 1px solid black;
	box-shadow: 0px 2px 5px #F2F2F2
	border-radius: 20px;
}


.fortdepomegues
{

}
.ilesdufrioul
{

}
.parcnationaldescalanques
{

}
.notredamedelagarde
{

}
.parclongchamp
{

}



/*footer*/
footer
{ 
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
	
}

figure

{
	background-color: white;
	border: none;
	border-radius: 15px;
	display: flex;
	justify-content: center;


}



