@font-face
{
	font-family: "Raleway"; 
	src: url("Raleway.ttf");
	src: url("Raleway.ttf") format("ttf")
	url("Raleway.eot") format("eot"),
	url("Raleway.woff") format("woff"),
	url("Raleway.otf") format("otf"),
	url("Raleway.svg") format("svg");
}


p 
{
	
	font-size: small;


}


#tout

 {
 	font-family: "Raleway", serif, sans-serif;
 	display
}

header 
 {
 	margin: 50px;
 	display: flex;
 	align-items: space-between;
 	justify-content: flex-start;
 	flex-direction: row;
 	background-color: #f2f2f2;
}
 
 ul 
 {
 	float: right;
 	display: inline-flex;
 }

 form 
 {
 	display: flex;
 	border: solid;
 	border-color: #f2f2f2;
 	height: 51px;
 	width: 424px;
 	border-radius: 15px;

 }
 
 label
 {
 	background-color:  #0065FC;
 	color: white;
 	text-align: justify;
 	font-size: larger;

 }




h2 h3 h4 h5
{
	font-weight: bold;
}



 



 body
 {
 	background-image: url(Resevia.svg);
 	background-attachment: scroll;
 	background-repeat: no-repeat;
 	background-position: top left;
 }
 
 

 
/*barre de navigation */

.filtres
{
	margin: 40px;
	display: inline-flex;

}

div .filtre1
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;
}
div .filtre2
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;

}
div .filtre3
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;

}
div .filtre4
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 5px;
	margin: 7px;


}


section
{
}


.info
{
	margin: 40px;
}



.container1 /*hebergement*/
{
	background-color: #f2f2f2;
	border-radius: 15px;
	padding: 30px;
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
}


.hebergement1
{
	border: 1px solid white;
	padding: 10px;
	margin: 10px;

}

.hebergement2
{
	border: 1px solid white;
	padding: 10px;
	margin: 10px;
}

.hebergement3
{
	border: 1px solid white;
	padding: 10px;
	margin: 10px;

}

.hebergement4
{ 
	border: 1px solid white;
	padding: 10px;
	margin: 10px;
 }

.hebergement5
{
	border: 1px solid white;
	padding: 10px;
	margin: 10px;

}

.hebergement6
{
	border: 1px solid white;
	padding: 10px;
	margin: 10px;

}




.container2 /*les plus populaires*/

{
	background-color: #f2f2f2;
	float: right;
	border-radius: 15px;
	margin: 15px;
	padding: 30px;
	padding-bottom: 20px;
	order: 2;
}

.populaire1
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop1
{
	float: right;
}


.populaire2
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop2 
{
	float: right;
}


.populaire3
{
	border: 1px solid white;
	padding: 7px;
	margin: 10px;
    border-radius: 20px;

}
.pop3
{
	float: right;
}


/*activite*/

.container3

{
	font-weight: bold;
	background-color: white;
		border-radius: 15px;
		order: 3;
}

.vieuxport
{
	box-shadow: ;
}



/*footer*/
.container4
{ 
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	padding: 50px;
	
}

figure

{
	background-color: white;
	border: none;
	border-radius: 15px;
	display: flex;
	justify-content: center;


}



